.page-header {
  background-color: var(--color-one);
  border-bottom: 1px solid var(--color-nine);
}
.container__page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: var(--color-two);
  font-family: var(--font-one);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  display: inline-block;
}
.logo__page-header {
  margin-right: 90px;
  padding-bottom: 24px;
  padding-top: 24px;
}
.logo__second-part {
  font-family: var(--font-one);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo__second-part_dark {
  color: var(--color-six);
}
.menu {
  list-style: none;
  background-color: var(--color-one);
  display: flex;
}
.menu__item {
  margin-right: 50px;
  position: relative;
}
.menu__link:nth-child(3) {
  gap: 345px;
}
.menu__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--color-six);
}
.menu__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-block;
  transition: color var(--transition-duration-function);
}
.contacts__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-block;
  transition: color var(--transition-duration-function);
}
.menu__link_current::before {
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--color-two);
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
}
.menu__link_current {
  color: var(--color-two);
}
.menu__link:hover,
.menu__link:focus {
  color: var(--color-two);
}
.contacts {
  @extend %list-style;
}
.contacts__element:not(:last-child) {
  margin-right: 50px;
}
.contacts__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-seven);
  text-decoration: none;
  display: flex;
  align-items: center;
}
.contacts__link:hover,
.contacts__link:focus {
  @extend %hover-color;
}
.contacts__icon {
  fill: var(--color-seven);
  margin-right: 10px;
  transition: fill var(--transition-duration-function);
}
.contacts__icon_envelope {
  width: 16px;
  height: 12px;
}
.contacts__icon_smartphone {
  width: 10px;
  height: 16px;
}
.contacts__link:hover .contacts__icon_envelope,
.contacts__link:hover .contacts__icon_smartphone,
.contacts__link:focus .contacts__icon_envelope,
.contacts__link:focus .contacts__icon_smartphone {
  fill: var(--color-two);
}
