.section-team {
  background-color: var(--color-four);
  display: flex;
  flex-direction: column;
  padding-top: 94px;
  padding-bottom: 94px;

  &__section-header {
    margin-bottom: 50px;
  }
}

.section-team__list {
  display: flex;
  gap: 30px;
  @extend %list-style;
}
.section-team__element {
  background-color: var(--color-one);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.worker {
  text-align: center;
  padding: 30px;
}
.worker__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-align: center;
  color: var(--color-six);
  margin-bottom: 10px;
}
.worker__info {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-align: center;
  color: var(--color-seven);
}
.worker__social-list {
  column-gap: 10px;
  justify-content: center;
  margin-top: 16px;
  @extend %list-style;
}
.worker__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--color-one);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter var(--transition-duration-function),
    background-color var(--transition-duration-function);

  &:hover,
  &:focus {
    fill: var(--color-one);
    background-color: var(--color-two);
  }
}
.worker__icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
  transition: fill var(--transition-duration-function);

  .worker__link:hover &,
  .worker__link:focus & {
    fill: var(--color-one);
  }
}
