.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  &__page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__page-footer {
    display: flex;
    align-items: baseline;
  }
}
